body {
  font-family: 'Lucida Sans Unicode';
  /* background: #A1FFCE;
  background: -webkit-linear-gradient(to left, #A1FFCE , #FAFFD1);
  background: linear-gradient(to left, #A1FFCE , #FAFFD1); */
}
.main{
  
    width: 400px;
   margin: 0 auto;
  position: relative;

}
.flex-container {
  
  
  display: flex;
  flex-direction: column;
  
  
  
  position: absolute;
  top:10%;
  left:110%;
  justify-content: space-evenly;
  
  
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 50px;
  margin: 25px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  
}


table {
  margin: 0 auto;
}




.cell {
  
  font-size: 50px;
  height: 100px;
  width: 100px;
  
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
